DATABASE_URL= #YOUR MYSQL URL TO CONNECT TO DATABSE

# OAUTH2 PARAMETERS
SECRET_KEY= #randomly generated key for oauth
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINS= #SET MINS FOR LOGIN TOKEN TO EXPIRE AFTER

# SENDGRID API KEY AND EMAIL
SENDGRID_API_KEY=
FROM_EMAIL= #EMAIL ADDRESS TO SEND EMAILS FROM

# AGENT CONNECTION
OPENROUTER_API_KEY= #LLM API KEY
OPENROUTER_BASE_URL= #FOR OPENAI TO PACKAGES TO CONNECT
MCP_URL=  #MCP SERVER URL