fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
pydantic[email]
celery
redis
django-celery-beat
sendgrid==6.12.4
langgraph
langchain
langchain-openai
langchain-mcp-adapters
langgraph-checkpoint-mysql[aiomysql]